{% extends '/mascotas/index.html.twig' %}

{% block main %}
   <h1> Listar mascotas </h1>

   {% for message in app.flashes('success') %}
      <div class="alert alert-success">
         {{message}}
      </div>
   {% endfor %}

   <table class="table">
      <thead>
         <tr>
            <th scope="col">chip</th>
            <th scope="col">Nombre</th>
            <th scope="col">tipo</th>
            <th scope="col">Rut Humano</th>
            <th scope="col">Color</th>
         </tr>
      </thead>
   <tbody>
      {% for pet in pets %}
         <tr>
            <th scope="row">{{ pet.chip }}</th>
            <td>{{ pet.nombre }}</td>
            <td>{{ pet.tipo }}</td>
            <td>{{ pet.rut }}</td>
            <td>{{ pet.color }}</td>

         </tr>

      {% endfor %}

   </tbody>
   </table>
{% endblock %}


